.plotter-container {
	margin-bottom: 3em;
}

.options {
	padding: 1em;
	text-align: center;
}

.img-with-text img {
	width: 2em;
}

.img-with-text {
	vertical-align: top;
	display: inline-block;
	text-align: center;
	width: 3.5em;
	margin-left: 1em;
	margin-right: 1em;
}

.options img:hover {
	cursor: pointer;
}

.plotter {
	width: 100%;
	height: 100%;
}

.frame-or-truss {
	position: relative; width: 90px;
	margin: auto;
	-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.ftswitch-checkbox {
	display: none;
}
.ftswitch-label {
	display: block; overflow: hidden; cursor: pointer;
	border: 2px solid #999999; border-radius: 20px;
}
.ftswitch-inner {
	display: block; width: 200%; margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}
.ftswitch-inner:before, .ftswitch-inner:after {
	display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
	font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
	box-sizing: border-box;
}
.ftswitch-inner:before {
	content: "Frame";
	padding-left: 10px;
	background-color: #70ABAF; color: #F0F7F4;
}
.ftswitch-inner:after {
	content: "Truss";
	padding-right: 10px;
	background-color: #705D56; color: #F0F7F4;
	text-align: right;
}
.ftswitch-switch {
	display: block; width: 18px; margin: 6px;
	background: #F0F7F4;
	position: absolute; top: 0; bottom: 0;
	right: 56px;
	border: 2px solid #999999; border-radius: 20px;
	transition: all 0.3s ease-in 0s; 
}
.ftswitch-checkbox:checked + .ftswitch-label .ftswitch-inner {
	margin-left: 0;
}
.ftswitch-checkbox:checked + .ftswitch-label .ftswitch-switch {
	right: 0px; 
}

.input {
	margin: 2em;
}
	
.input__title {
	margin-bottom: 1em;
	background-color: #70ABAF;
	border-color: #70ABAF;
	border-radius: 4px;
	border: 2px solid #70ABAF;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	box-shadow: none;
	display: block;
	cursor: pointer;
	color: #F0F7F4;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	padding: 0.375rem 0.75rem;
	font-size: 16px;
	line-height: 1.5;
	text-decoration: none;
	font-family: "Lato", sans-serif;
	user-select: none;
}

.input__title:hover {
	background-color: #fff;
	border-color: #70ABAF;
	color: #898989;
	text-decoration: none;
}

.two-col {
	display: flex;
	margin: 1em;
}
	
.left-col {
	flex: 50%;
	margin-right: 1.5em;
	overflow: hidden;
}

.right-col {
	flex: 50%;
	margin-left: 1.5em;
	overflow: hidden;
}

.mid-col {
	margin: 3em;
}

@media (max-width: 35em) {
	.plotter-container {
		margin-bottom: 1em;
	}
	
	.two-col{
		display: block;
	}
	.right-col{
		margin: auto;
		margin-bottom: 2em;
	}
	.left-col {
		margin: auto;
		margin-bottom: 2em;
	}
	.mid-col {
		margin: 1em;
		margin-bottom: 2em;
	}
}

.analyze {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3em;
	margin-bottom: 3em;
	text-align: center;
}

.analyze__button {
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	border-radius: 4px;
	background-color: white;
	color: #898989;
	border: 2px solid #70ABAF;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;	
}

.analyze__button:hover {
	background-color: #70ABAF;
	color: #F0F7F4;
	text-decoration: none;	
}

.form-group {
	padding: 1em;
}

.ReactTable {
	margin: 1em;
}

.table-text {
	margin: 1em;
}

.rt-td input {
	width: 100%;
	background-color: inherit;
	border: none;
}